*__pycache__*
*.DS_Store
*.idea/
*LOGS/
lightning_logs
data/
cache/
*experiments.sh
*/logs/*
*/wandb/*
/checkpoints/
scratch.py
*.npy
**.npy
# Ignore everything in jobfiles/logs
jobfiles/logs/*

# Ignore the jobfiles/logs directory itself
jobfiles/logs/

# In case there are subdirectories that need to be ignored
**/jobfiles/logs/**

wandb/
dataloaders/val/image_paths/*